/* =====================================================================================================
// Project      : CoinMachine platform
// Context      : blockchain/cryptocurrency education and consulting, IT developement
// File         : main.css
// Role         : main CSS stylesheet
// Author       : CoinMachine
// Creation     : 2023-06-11
// Last update  : 2021-06-12
// ===================================================================================================== */
* {
    box-sizing: border-box!important;
}
body {
    margin: 0;
    padding: 0;
    background: black;
    color: lightgreen;
    font-family: "Courier New", Courier, monospace;
}
/* *** *** *** CONTAINER *** *** *** */
#site-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
#site-logo, #site-logo img {
    margin: 0;
    padding: 0;
    border: 1px solid lightgreen;
}
#site-logo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}