/* =====================================================================================================
// Project      : CoinMachine platform
// Context      : blockchain/cryptocurrency education and consulting, IT developement
// File         : main.css
// Role         : main CSS stylesheet
// Author       : CoinMachine
// Creation     : 2023-06-11
// Last update  : 2021-06-12
// ===================================================================================================== */
/* 
    green : #60e660
    lightgreen : #60e6a3
*/
* {
    box-sizing: border-box!important;
}
body {
    margin: 0;
    padding: 0;
    background: black;
    color: #60e660;
    font-family: "Courier New", Courier, monospace;
}
/* *** *** *** CONTAINER *** *** *** */
#site-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
/* *** *** *** SITE HEADER *** *** *** */
#site-logo, #site-logo img {
    margin: 0;
    padding: 0;
}
#site-logo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#site-title {
    text-align: center;
}
#site-title h1 {
    font-family: "Frijole";
    font-variant: small-caps;
    font-size: 80px;
    letter-spacing: 0.1em;
    text-shadow: 3px 3px 4px darkgray;
}
#site-title h2, #site-title h3 {
    font-family: "Syncopate";
    color: #60e6a3;
    text-shadow: 2px 2px 3px darkgray;
}
#site-title h2 {
    font-size: 40px;
    letter-spacing: 0.1em;
}
#site-title h3 {
    font-size: 26px;
}