/* =====================================================================================================
// Project      : CoinMachine platform
// Context      : blockchain/cryptocurrency education and consulting, IT developement
// File         : web3news.css
// Role         : web3news.php special CSS stylesheet
// Author       : CoinMachine
// Creation     : 2023-06-24
// Last update  : 2021-07-13
// ===================================================================================================== */

/* *** *** *** CONTAINERS *** *** *** */
#web3-news-main-content {
    margin: 10px auto;
    padding: 0;
}
.news-container {
    margin: 10px auto;
    padding: 10px;
    border: 1px inset #06c883;
    box-shadow: inset 0 0 10px #06c883;
}
/* *** *** *** MINI NAVIGATION MENU *** *** *** */

/* *** *** *** TITRAGES *** *** *** */
#web3-news-label {
    background-clip: text;
    -moz-background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    background-image: linear-gradient(45deg, #06c883, #ebef7b);
}
#web3-news-label span{
    margin-left: 10px;
}
#web3-news-label {
    margin: 10px auto;
    font-family: "Audiowide";
    font-size: 2.5rem;
    text-align: right;
}
.news-title {
    margin: 0 auto;
    margin-bottom: 5px;
    font-family: "Audiowide";
    font-size: 1.5em;
    text-align: center;
    background-clip: text;
    -moz-background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    background-image: linear-gradient(45deg, #ebef7b, #06c883);
}
/* *** *** *** USER CLASSES *** *** *** */
.img-news {
    align-self: center;
}
.news-date, .news-source, .news-text, .news-link {
    background-clip: text;
    -moz-background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    background-image: linear-gradient(45deg, #06c883, #ebef7b);
}
.news-date {
    margin: 0 auto;
    font-family: "Share Tech Mono", monospace;
    font-size: 1.2em;
    text-align: left;
}
.news-source {
    font-family: "Aldrich", sans-serif;
    font-size: 1.2em;
}
.news-text {
    opacity: 0.9;
    font-family: "Lekton";
    font-size: 1em;
    font-weight: 400;
    text-align: justify;
    text-indent: 30px;
}
.news-link {
    text-decoration: none;
    font-family: "Aldrich", sans-serif;
    font-size: 1.1em;
    text-align: center;
}
.news-link:hover {
    text-decoration: underline;
    background-image: linear-gradient(45deg, #06acc8, #8306c8);
}
.news-link span {
    margin-right: 5px;
}
/* *** *** *** LITTLE CARDS *** *** *** */
#old-news {
    margin: 10px auto;
    padding: 10px;
}
#old-news-row {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.old-news-month {
    margin: 5px auto;
    padding: 0;
    font-family: "Audiowide";
    font-size: 2em;
    font-weight: 700;
    letter-spacing: 0.1em;
    text-align: left;
    background-clip: text;
    -moz-background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    background-image: linear-gradient(45deg, #ebef7b, #06c883);
}
.little-card-news {
    margin: 5px;
    padding: 5px;
    justify-content: center;
    align-items: center;
    background-color: black;
    border: 1px inset #06c883;
    box-shadow: inset 0 0 10px #06c883;
    transition: all 0.5s ease-in-out;
}
.little-card-news:hover {
    transform: scale(2);
}
.little-card-news .row {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.little-date-news {
    margin: 0;
    font-family: "Share Tech Mono", monospace;
    font-size: 1em;
    color: #06acc8;
}
.little-title-news {
    margin: 5px auto;
    font-family: "Aldrich", sans-serif;
    font-size: 0.7em;
    text-align: center;
    background-clip: text;
    -moz-background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    background-image: linear-gradient(45deg, #ebef7b, #06c883);
}
.little-link-news {
    margin: 5px auto;
    text-decoration: none;
    font-family: "Aldrich", sans-serif;
    font-size: 0.5em;
    text-align: center;
}
.little-link-news span {
    margin-right: 5px;
}
/* *** *** *** ANIMATIONS *** *** *** */

/* *** *** *** MEDIA QUERIES *** *** *** */
@media screen and (max-width: 1350px) {

}
@media screen and (max-width: 1200px) {

}
@media screen and (max-width: 992px) {
    #web3-news-label {
        font-size: 1.75em;
    }
    .news-date {
        text-align: center;
        vertical-align: middle;
        align-self: center;
        align-items: center;
    }
    .news-title {
        font-size: 1.25em; 
    }
}
@media screen and (max-width: 768px) {
    .news-date {
        font-size: 1em;
    }
    .news-title {
        font-size: 1em;
    }
}
@media screen and (max-width: 576px) {
    .news-date {
        font-size: 0.8em;
    }
    .news-title {
        font-size: 0.8em;
    }
    .news-text {
        font-size: 0.6em;
    }
    .news-link {
        font-size: 0.6em;
    }
}
@media screen and (max-width: 480px) {
    .news-date {
        font-size: 0.7em;
    }
    .news-title {
        font-size: 0.7em;
    }
}
@media screen and (max-width: 360px) {
    #web3-news-label {
        font-size: 1.25em;
    }
    .news-date {
        font-size: 0.5em;
    }
    .news-title {
        font-size: 0.5em;
    }
    .news-text {
        font-size: 0.4em;
    }
    .news-link {
        font-size: 0.4em;
    }
}