/* =====================================================================================================
// Project      : CoinMachine platform
// Context      : blockchain/cryptocurrency education and consulting, IT developement
// File         : web3tutorials.css
// Role         : web3tutorials.php special CSS stylesheet
// Author       : CoinMachine
// Creation     : 2023-06-13
// Last update  : 2023-06-24
// ===================================================================================================== */

/* *** *** *** CONTAINERS *** *** *** */
#tuto-main-content {
    
}
#tuto-list section {
    margin: 10px auto;
    padding-bottom: 10px;
}
#diff1 {
    border: 1px inset #06acc8;
}
#diff2 {
    border: 1px inset #06c883;
}
#diff3 {
    border: 1px inset #ebef7b;
}
.tuto-article {
    margin: 5px auto;
    padding: 5px 10px;
}
#diff1 article {
    border: 1px dotted #06acc8;
}
#diff2 article {
    border: 1px dotted #06c883;
}
#diff3 article {
    border: 1px dotted #ebef7b;
}
/* *** *** *** MINI NAVIGATION MENU *** *** *** */
#tuto-mini-menu {
    position: fixed;
    top: 45%;
    left: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0;
    background-clip: text;
    -moz-background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    background-image: linear-gradient(45deg, #ebef7b, #06c883);
    font-family: "Audiowide";
}
#tuto-mini-menu h4, #tuto-mini-menu h4 a {
    text-decoration: none;
    font-family: "Audiowide";
    font-size: 1.25em;
    background-clip: text;
    -moz-background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    background-image: linear-gradient(45deg, #ebef7b, #06c883);
}
#tuto-mini-menu ul, #tuto-mini-menu ul li {
    margin-left: 20px;
    margin-bottom: 1px;
    padding: 0;
}
#tuto-mini-menu ul li, #tuto-mini-menu ul li a {
    background-clip: text;
    -moz-background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    background-image: linear-gradient(45deg, #ebef7b, #06c883);
    font-size: 1em;
}
#tuto-mini-menu ul li a,
#tuto-mini-menu h4 a {
    transition: all 1.75s ease-in-out;
}
#tuto-mini-menu ul li a:hover,
#tuto-mini-menu h4 a:hover  {
    background-clip: text;
    -moz-background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    background-image: linear-gradient(45deg, #06acc8, #8306c8);
    font-family: "Audiowide";
}

/* *** *** *** TITRAGES *** *** *** */
#tutorials-main-label, #tuto-list section h2, .tuto-article h3 {
    background-clip: text;
    -moz-background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    font-family: "Audiowide";
    font-style: italic;
}
#tutorials-main-label {
    margin-top: 10px;
    margin-right: 50px;
    margin-bottom: 10px;
    text-align: right;
    font-size: 2.5em;
    font-variant: small-caps;
    font-weight: 700;
    letter-spacing: 0.1em;
    background-image: linear-gradient(45deg, #ebef7b, #06c883);
}
#tutorials-main-label span {
    margin-left: 10px;
}
#tuto-list section h2 {
    font-size: 1.8em;
    font-weight: 600;
    letter-spacing: 0.5em;
    font-variant: small-caps;
}
#diff1 h2 {
    background-image: linear-gradient(45deg, #5becff, #0049a89f);
}
#diff2 h2 {
    background-image: linear-gradient(45deg,  #00ff88, #00b909);
}
#diff3 h2 {
    background-image: linear-gradient(45deg,  #f8ff29, #ffae00);
}
.tuto-article h3 {
    font-size: 1.5em;
    background-image: linear-gradient(45deg, #06c883, #ebef7b);
}
/* *** *** *** USER CLASSES *** *** *** */
.tuto-date {
    margin: 0;
    padding: 0;
    padding-left: 10px;
    font-family: "Share Tech Mono";
    letter-spacing: 0.1em;
}
.tuto-text {
    margin: 0;
    padding: 5px 20px 5px 10px;
    font-family: "Lekton";
    font-weight: 300;
    line-height: 98%;
    text-align: justify;
    background-clip: text;
    -moz-background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    background-image: linear-gradient(45deg, #ebef7b, #06c883);
}
.tuto-link, .tuto-text a {
    font-family: "Aldrich";
    background-clip: text;
    -moz-background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    background-image: linear-gradient(45deg, #ebef7b, #06c883);
}
.tuto-link:hover, .tuto-text a:hover  {
    background-clip: text;
    -moz-background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    background-image: linear-gradient(45deg, #06acc8, #8306c8);
}
.tuto-text a span {
    margin-left: 10px;
}
.tuto-link span {
    margin-right: 10px;
}
/* *** *** *** REFERENCES SECTIONS *** *** *** */

/* *** *** *** ANIMATIONS *** *** *** */

/* *** *** *** MEDIA QUERIES *** *** *** */
@media screen and (max-width: 1350px) {

}
@media screen and (max-width: 1200px) {

}
@media screen and (max-width: 992px) {

}
@media screen and (max-width: 768px) {

}
@media screen and (max-width: 576px) {

}
@media screen and (max-width: 480px) {

}
@media screen and (max-width: 360px) {

}