/* =====================================================================================================
// Project      : CoinMachine platform
// Context      : blockchain/cryptocurrency education and consulting, IT developement
// File         : web3humans.css
// Role         : web3humans.php special CSS stylesheet
// Author       : CoinMachine
// Creation     : 2023-06-18
// Last update  : 2021-06-30
// ===================================================================================================== */
:root {
    --linkedin: #0077b5;
    --twitter: #1da1f2;
    --facebook: #1558e7;
}
/* *** *** *** CONTAINERS *** *** *** */
article {
    margin: 10px auto;
    padding: 10px;
    background-clip: text;
    -moz-background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    background-image: linear-gradient(45deg, #ebef7b, #06c883);
    border: 1px inset #06c883;
    box-shadow: inset 0 0 15px #06c883;
}
/* *** *** *** NAVIGATION *** *** *** */
#humans-mini-nav {
    position: fixed;
    top: 40%;
    left: 0;
    margin: 0;
    padding: 0;
    padding-left: 30px;
    font-family: "Frijole";
    font-size: 1.5em;
    background-clip: text;
    -moz-background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    background-image: linear-gradient(45deg, #06c883, #ebef7b);
}
#humans-mini-nav .row a {
    margin: 0;
    padding: 0;
    text-decoration: none;
    background-clip: text;
    -moz-background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}
#humans-mini-nav .row a:hover {
    color: #8306c8;
}
/* *** *** *** TITRAGES *** *** *** */
#humans-main-title, article h2, article h3 {
    vertical-align: bottom;
    align-items: baseline;
    align-self: baseline;
}
#humans-main-title {
    font-family: "Audiowide", sans-serif;
    font-size: 2.3em;
    font-weight: 600;
    letter-spacing: 0.2em;
    padding-bottom: 10px;
    text-align: right;
    text-decoration: none;
    background-clip: text;
    -moz-background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    background-image: linear-gradient(45deg, #06c883, #ebef7b);
}
#humans-main-title span {
    margin-left: 10px;
}
article h2 {
    font-family: "Audiowide", sans-serif;
    font-size: 2.2em;
    text-align: left;
}
article h3 {
    font-family: "Audiowide", sans-serif;
    font-size: 1.5em;
    text-align: right;
}
.firstname {
    font-size: 0.8em;
}
/* *** *** *** USER CLASSES *** *** *** */
.zodiac-img, .birthdate, .wiki-link, .flag,
article a, article p {
    vertical-align: bottom;
    align-items: baseline;
    align-self: baseline;
}
.zodiac-img {
    max-width: 80px;
    max-height: 80px;
    margin: 0 auto;
    padding: 0;
    z-index: 1;
}
.birthdate {
    font-family: "DotGothic16", sans-serif;
    font-weight: 400;
    font-size: 1.3em;
    text-align: center;
}
article a, article p {
    text-decoration: none;
    text-align: left;
    text-decoration: none;
    background-clip: text;
    -moz-background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    background-image: linear-gradient(45deg, #06c883, #ebef7b);
}
article a {
    font-family: "Aldrich", sans-serif;
    font-weight: 400;
    font-size: 1.5em;
}
article a span {
    margin-left: 5px;
    font-weight: 400;
    font-size: 0.8em;
}
article a:hover {
    background-image: linear-gradient(45deg, #1491ff, #8306c8);
}
article p {
    font-family: "Audiowide", sans-serif;
    font-weight: 400;
    font-size: 1.2em;
}
.wiki-link {
    text-align: center;
    font-size: 0.9em;
}
.flag {
    max-height: 30px;
}
/* *** *** *** SOCIALS ICONS *** *** *** */
.twitter-icon {
    color: var(--twitter);
}
.facebook-icon {
    color: var(--facebook);
}
.youtube-icon {
    color: var(--youtube);
}
.linkedin-icon {
    color: var(--linkedin);
}
.twitter-icon, .facebook-icon,
.youtube-icon, .linkedin-icon {
    margin-top: 5px;
    font-size: 1.2em;
}
.twitter-icon:hover, .facebook-icon:hover,
.youtube-icon:hover, .linkedin-icon:hover {
    color: #8306c8;
}
.nodata {
    text-align: left;
}
/* *** *** *** REFERENCES *** *** *** */
.ref-type, .ref-link {
    vertical-align: bottom;
    align-items: baseline;
    align-self: baseline;
}
.ref-type {
    font-family: "Audiowide", sans-serif;
    font-weight: 400;
    font-size: 1.2em;
    text-align: right;
}
.ref-link {
    font-family: "Aldrich", sans-serif;
    font-weight: 400;
    font-size: 0.9em;
    text-align: left;
}
.ref-link span {
    margin-left: 5px;
    font-size: 0.8em;
}
/* *** *** *** MEDIA QUERIES *** *** *** */
@media screen and (max-width: 1350px) {

}
@media screen and (max-width: 1200px) {

}
@media screen and (max-width: 992px) {
    #humans-main-title {
        font-size: 1.5em;
    }
    #humans-main-content article h2 {
        font-size: 1.5em;
    }
    #humans-main-content article h3 {
        font-size: 1em;
    }
    #humans-main-content article h5 {
        font-size: 0.8em;
    }
    #humans-main-content article a,
    #humans-main-content article p {
        font-size: 1em;
    }
}
@media screen and (max-width: 768px) {

}
@media screen and (max-width: 576px) {
    #humans-main-title {
        font-size: 1.25em;
    }
    #humans-mini-nav {
        top: 30%;
        font-size: 1em;
    }
    #humans-main-content article h2 {
        font-size: 1.25em;
    }
    .people-img {
        max-height: 140px;
    }
    .flag {
        max-height: 100px;
    }
    #humans-main-content article h3 {
        font-size: 0.7em;
    }
    #humans-main-content article h5 {
        font-size: 0.5em;
    }
    #humans-main-content article a,
    #humans-main-content article p {
        font-size: 0.7em;
    }
}
@media screen and (max-width: 480px) {
    #humans-main-content article h3 {
        font-size: 0.5em;
        text-align: left;
        margin-bottom: 1px;
    }
    #humans-main-content article h5 {
        font-size: 0.4em;
        margin-bottom: 4px;
    }
    #humans-main-content article a,
    #humans-main-content article p {
        font-size: 0.6em;
    }
    .socials {
        margin-bottom: 5px;
    }
}
@media screen and (max-width: 360px) {
    #humans-main-title {
        font-size: 1em;
    }
    #humans-mini-nav {
        top: 25%;
        font-size: 0.5em;
    }
    #humans-main-content article h2 {
        font-size: 1em;
    }
    .people-img {
        margin-left: 5px;
    }
}